@model CodeFirstTemplate.Services.Models.ContestModel



<div class="panel panel-success">
    <div class="panel-heading">
        <h3 class="panel-title">@Model.Title</h3>
    </div>
    <div class="panel-body">
        <p>@Model.Description</p>
        <div>
            <img class="most-popular-img" url="@Model.MostVotedPicture" />
        </div>
        <div>
            <p >Participation strategy: @Model.ParticipationStrategyName</p>
            <p >Reward strategy: @Model.RewardStrategyName</p>
            <p >Voting strategy: @Model.VotingStrategyName</p>
            <p >Deadline strategy: @Model.DeadlineStrategyName</p>
            <a class="btn btn-primary btn">Go to gallery...</a>
        </div>
    </div>
</div>